<footer>
    <div class="container-footer">

      <a href="#"><i class="fab fa-twitter social-media"></i></a> 
      <a href="#"><i class="fab fa-facebook-f social-media"></i></a> 
      <a href="#"><i class="fab fa-instagram social-media"></i></a>
        <br>
        

        <small> <p>
            &copy; <script>
            document.write(new Date().getFullYear());
          </script> Black Oscars Entertainment
          </small>
        </div>
</footer>  